body{
  background: url(../img/fondo4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.encabezado{
  background-color: #ff8a80;
  position: fixed !important;
}

.container-contenido{
  position: relative;
}
.navegacion{
  background-color: #ff8a80;
  box-shadow: none;

}

.slogan{
  margin-left: 8vw;
  color: #FFFFFF;
  font-family: Indie Flower;

}

.responsive-img{
  width:80%;
}
.responsive-img-perfil{
  width:50%;
  display: flex;
  margin: auto;
  margin-top: 20px;
}

.responsive-img-contenido{
  width:100%;
  height: 100%;
  display: block;
  box-shadow: 2px 2px 2px 2px #000000;
}

.responsive-img-publicacion{
  width:50%;
  display: block;
  box-shadow: 2px 2px 2px 2px #000000;
}

.img-medio{
  margin-bottom: 15px;
}
.contenedor-botones{
  margin-left: -20px !important;
}

.boton{
  margin-top: 15px;
  margin-bottom: 20px;
}

.container-img{
  margin-top: 10px;
}

.titulo-publicacion{
  color: #3B3A34;
  font-family: Indie Flower;
}

.container-publicacion .chip{
  margin-bottom: 5px;
}


.container-autor h5{
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #000000;
  line-height: 25pt;
}

.container-autor p{
  text-align: center;
}


.publicacion img{
  float: left;
  margin-right: 15px;
}

.publicacion{
  margin-bottom: 15px;
}


/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }


 .container-autor {
   margin-top: 15px;
   vertical_align: bottom;
   position: relative;
 }


 @media (max-width: 600px) {
   .container-autor {
     margin-top: 350px;
     position: absolute;
     width: 90% !important;
   }
   .container-comentario {
     position: relative;
   }

   .slogan{
     float: left !important;
     font-size: 15px;
   }

 }
